<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>MainPageView</servlet-name>
  	<display-name>MainPageView</display-name>
  	<description></description>
  	<servlet-class>MainPageView</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GenerateKeys</servlet-name>
  	<display-name>GenerateKeys</display-name>
  	<description></description>
  	<servlet-class>GenerateKeys</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GenerateKeysView</servlet-name>
  	<display-name>GenerateKeysView</display-name>
  	<description></description>
  	<servlet-class>GenerateKeysView</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EnquirePerson</servlet-name>
  	<display-name>EnquirePerson</display-name>
  	<description></description>
  	<servlet-class>EnquirePerson</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EnquirePersonView</servlet-name>
  	<display-name>EnquirePersonView</display-name>
  	<description></description>
  	<servlet-class>EnquirePersonView</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PublicKeysView</servlet-name>
  	<display-name>PublicKeysView</display-name>
  	<description></description>
  	<servlet-class>PublicKeysView</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>e69e8e24221502261fffb86a2dd05cc27a3dde77</servlet-name>
  	<display-name>e69e8e24221502261fffb86a2dd05cc27a3dde77</display-name>
  	<description></description>
  	<servlet-class>e69e8e24221502261fffb86a2dd05cc27a3dde77</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>b8c184e286490232849c1a01b416914865be7163</servlet-name>
  	<display-name>b8c184e286490232849c1a01b416914865be7163</display-name>
  	<description></description>
  	<servlet-class>b8c184e286490232849c1a01b416914865be7163</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GenerateTables</servlet-name>
  	<display-name>GenerateTables</display-name>
  	<description></description>
  	<servlet-class>GenerateTables</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ImportantTopicsView</servlet-name>
  	<display-name>ImportantTopicsView</display-name>
  	<description></description>
  	<servlet-class>ImportantTopicsView</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ExecuteSQL</servlet-name>
  	<display-name>ExecuteSQL</display-name>
  	<description></description>
  	<servlet-class>ExecuteSQL</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ExecuteQuery</servlet-name>
  	<display-name>ExecuteQuery</display-name>
  	<description></description>
  	<servlet-class>ExecuteQuery</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddPerson</servlet-name>
  	<display-name>AddPerson</display-name>
  	<description></description>
  	<servlet-class>AddPerson</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddUser</servlet-name>
  	<display-name>AddUser</display-name>
  	<description></description>
  	<servlet-class>AddUser</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ContributeView</servlet-name>
  	<display-name>ContributeView</display-name>
  	<description></description>
  	<servlet-class>ContributeView</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddTopic</servlet-name>
  	<display-name>AddTopic</display-name>
  	<description></description>
  	<servlet-class>AddTopic</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RaiseDoubt</servlet-name>
  	<display-name>RaiseDoubt</display-name>
  	<description></description>
  	<servlet-class>RaiseDoubt</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>MainPageView</servlet-name>
  	<url-pattern>/MainPageView</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GenerateKeys</servlet-name>
  	<url-pattern>/GenerateKeys</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GenerateKeysView</servlet-name>
  	<url-pattern>/GenerateKeysView</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EnquirePerson</servlet-name>
  	<url-pattern>/EnquirePerson</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EnquirePersonView</servlet-name>
  	<url-pattern>/EnquirePersonView</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PublicKeysView</servlet-name>
  	<url-pattern>/PublicKeysView</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>e69e8e24221502261fffb86a2dd05cc27a3dde77</servlet-name>
  	<url-pattern>/e69e8e24221502261fffb86a2dd05cc27a3dde77</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>b8c184e286490232849c1a01b416914865be7163</servlet-name>
  	<url-pattern>/b8c184e286490232849c1a01b416914865be7163</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GenerateTables</servlet-name>
  	<url-pattern>/GenerateTables</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ImportantTopicsView</servlet-name>
  	<url-pattern>/ImportantTopicsView</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ExecuteSQL</servlet-name>
  	<url-pattern>/ExecuteSQL</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ExecuteQuery</servlet-name>
  	<url-pattern>/ExecuteQuery</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddPerson</servlet-name>
  	<url-pattern>/AddPerson</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddUser</servlet-name>
  	<url-pattern>/AddUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ContributeView</servlet-name>
  	<url-pattern>/ContributeView</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddTopic</servlet-name>
  	<url-pattern>/AddTopic</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RaiseDoubt</servlet-name>
  	<url-pattern>/RaiseDoubt</url-pattern>
  </servlet-mapping>
   <error-page>
		<error-code>404</error-code>
		<location>/ErrorPage.jsp</location>
	</error-page>
</web-app>
